	<div id="templatemo_banner">
		<div id="templatemo_menu">
			<ul>
				<li>
					<a href="index.html">Главная</a>
				</li>
				<li>
					<a href="about.html">О нас</a>
				</li>
				<li>
					<a href="contacts.html">Контакты</a>
				</li>
				<li>
					<a href="deyatelnost.html">Наша деятельность</a>
				</li>
				<li>
					<a href="photos/index.html">Галерея</a>
				</li>
				<li>
					<a href="journal.html">Журнал "Литературное созвездие"</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- end of banner -->
