<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html;" />
<title>Воронежская городская общественная организация «Союз писателей «Воинское содружество»»</title>
<meta name="keywords" content="Воронежская городская общественная организация «Союз писателей «Воинское содружество»»" />
<meta name="description" content="Воронежская городская общественная организация «Союз писателей «Воинское содружество»»" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
