<ul style="position:relative; top:-1.468em; left:-1.468em; width:93%">
	<!--TODO: style потому, что слишком много текста; при меньшем количестве - убрать!-->
	<li>
		10.03.2021 г. с 18.00-20.00 в помещении Воронежского государственного промышленно-экономического колледжа состоялось правление ВГОО «СП «Воинское содружество»», посвященное Юбилею (пятой годовщине) Организации.
	</li>
	<li>
		20.03.2021 г. с 11.00-13.00 в помещении Музея-Диорамы состоится собрание ВГОО «СП «Воинское содружество»», посвященное пятой годовщине Организации.
	</li>
</ul>

