<ul style="position:relative; top:-1.468em; left:-1.468em; width:93%">
	<!--TODO: style потом, что слишком много текста; при меньшем количестве - убрать!-->
	<li>
		11.02.2021 г. cостоялось правление ВГОО «СП «Воинское содружество»», на котором был принят план Организации на 2021 год и принята Римская Ирина Викторовна в члены ВГОО «СП «Воинское содружество»».
	</li>
	<li>
		03.03.2021 г. cостоится правление ВГОО «СП «Воинское содружество»», посвященное Юбилею (пятой годовщине) Организации.
	</li>
	<li>
		13.03.2021 г. cостоится собрание ВГОО «СП «Воинское содружество»», посвященное пятой годовщине Организации.
	</li>
</ul>

