---
layout: page
---
<style>
	.divwrap-catalog{
		width: 35em;
		text-align: center;
		padding: 1em 0 4em 0;
		display: inline-block;
	}
</style>
<a href="{{ site.gallery.dir }}/../video.html">Перейти в видеогалерею</a>
<div class="divwrap-catalog">
</div>
{% for gallery in page.galleries %}
<div class="divwrap-catalog">
    <a href="{{ site.gallery.dir }}/{{ gallery['gallery'] }}/index.html">
        <img style="max-height: 20em; max-width: 20em;" src="{{ site.gallery.dir }}/{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
    </a>
    <h3><a href="{{ site.gallery.dir }}/{{ gallery['gallery'] }}/index.html">{{ gallery["name"] }}</a></h3>
    {{ gallery["images"] | size }} фото
</div>
{% endfor %}
